@page
@model VideoEditorBE.Pages.EditorModel
@{
	ViewData["Title"] = "Home page";
}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">
        <title>Küçült!</title>
            <script src="code.js"></script>
        <style>
            //import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

    * {
        font-family: 'Open Sans', sans-serif;
    }

    body {
        background-color: darkgray;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }

    .mid {
        background-color: white;
        display: flex;
        margin: auto;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 10px 10px 5px 0px rgba(107, 148, 153, 1);
    }

        .mid p {
            font-size: x-large;
            padding: 5px 10px;
        }

    #drop_zone {
        border: 5px solid blue;
    }

    .btn {
        text-decoration: none;
        background-color: black;
        color: white;
        margin-bottom: 10px;
        font-size: larger;
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        margin: 5px 10px;
        cursor: pointer;
    }

</style>
    </head>
    <body>
        <div class="mid">
            <div id="drop_zone" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);">
                <p>_----------Drop files here----------_</p>
            </div>
            <div>
                <!--<a href="main2.html"><button class="btn">Video'yu Yükle.</button></a>-->
            </div>
            <p>Progress: </p><p id="degisecekyazi">Waiting</p>
        </div>
        <script>
    function dropHandler(ev) {
        console.log('File(s) dropped');
        document.getElementById("degisecekyazi").innerHTML = 'Processing...';

        // Prevent default behavior (Prevent file from being opened)
        ev.preventDefault();

        if (ev.dataTransfer.items) {
            // Use DataTransferItemList interface to access the file(s)
            [...ev.dataTransfer.items].forEach((item, i) => {
                // If dropped items aren't files, reject them
                if (item.kind === 'file') {
                    const file = item.getAsFile();
                    console.log(`… file[${i}].name = ${file.name}`);
                    document.getElementById("degisecekyazi").innerHTML = 'Ok';  //

                    //let data = document.getElementById("image-file").files[0];
                    let formData = new FormData();

                    formData.append("file", file);
                    fetch('/api/upload', { method: "POST", body: formData });
                }
            });
        } else {
            // Use DataTransfer interface to access the file(s)
            [...ev.dataTransfer.files].forEach((file, i) => {
                console.log(`… file[${i}].name = ${file.name}`);
                document.getElementById("degisecekyazi").innerHTML = 'Ok çoklu dosya';
            });
        }
    }
    function dragOverHandler(ev) {
        console.log('File(s) in drop zone');

        // Prevent default behavior (Prevent file from being opened)
        ev.preventDefault();
    }
    const interval = setInterval(function() {
   
   fetch("/api/status")
   .then(response => response.text())
   .then((response) => {
       document.getElementById("degisecekyazi").innerHTML = response;
   })
   .catch(err => console.log(err))


 }, 1000);

</script>
    </body>
    </html>