@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: darkgray;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.mid {
    background-color: white;
    display: flex;
    margin: auto;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 5px 0px rgba(107, 148, 153, 1);
}

    .mid p {
        font-size: x-large;
        padding: 5px 10px;
    }

#drop_zone {
    border: 5px solid blue;
}

.btn {
    text-decoration: none;
    background-color: black;
    color: white;
    margin-bottom: 10px;
    font-size: larger;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    margin: 5px 10px;
    cursor: pointer;
}
